/*
Author : Muhammad Rifki
*/

body{
	font-family: 'Roboto Mono', monospace;
	background-color: white;
}


nav ul li{
	font-size: 18px;
}

.navbar-text{
	color: white;
}

.carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.7);
}

.kosongan{
	height: 60px;
}

.bg-color{
	background:rgba(0,0,0,0.3);
}

#position-profil{
	left: 100px;
}

#skill-left{
	border: 1.5px solid black;
	width: 20%;
	margin-right: 0;
	margin-top: 18px;
}

#skill-right{
	border: 1.5px solid black;
	width: 20%;
	margin-left: 0;
	margin-top: 18px;
}

.margin-container{
	margin-top: 180px;
}

.center{
	text-align: center;
}

.card-footer {
  background: linear-gradient(
                     rgba(0,0,0, .7), 
                     rgba(0,0,0, .7)),
                     url(img/footer.jpeg);
}

.link{
	text-decoration: none;
}