/*
Author : Muhammad Rifki
*/

body{
	font-family: 'Roboto Mono', monospace;
	background-color: white;
}

nav{
	background-color: white;
	position: fixed;
	width: 100%;
	height: 80px;
	box-shadow: 10px 10px 10px #ddd;
	top: 0px;
	left: 0px;
	right: 0px;
}

ul{
	float: right;
	padding-right: 15px;
	list-style-type: none;
	margin: 0;
}

nav ul li {
	display: inline-block;
	padding: 25px 10px 0px 0px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 20px;
}

li a{
	text-decoration: none;
	color: black;

}

#navbar_logo{
	width: 50px;
	margin-top: 5px;
	margin-left: 30px;
}

.kosongan{
	height: 60px;
}

.section{
	padding: 40px;
}

.section h3{
	margin: 0px;
}

.section h2{
	margin: 0px;
}


.section p{
	margin-top: 20px;
}

#info_utama{
	display: flex;
}

#identitas{
	width: 50%;
}

#identitas p{
	line-height: 20px;
	color: #535353;
	font-size: 16px;
	margin-right: 30px;
	text-align:justify;
}

#images{
	width: 50%;
}

#images img{
	width: 100%;
	border-radius: 1rem;
}

.contact_me a{
	text-decoration: none;
	color: #ff7b51;
}

.contact_me a:hover{
	color: white;
	background-color: #ff7b51;
}

.contact_me{
	border-radius: 11px;
	padding: 12px 32px;
	background-color: #fff;
	color: #ff7b51;
	margin-top: 10px;
	transition: 0.3s;
	text-transform: uppercase;
	border:1px solid #ff7b51;
}

.contact_me:hover{
	box-shadow: 0px 10px 20px #ddd;
	background-color:#ff7b51;
	color:#fff;

}


#info_lanjutan{
	display: inline-flex;
	padding-top: 0px;
}

#konten1{
	width: 50%;
}

#konten1 img{
	width: 50%;
}

#konten1 h2{
	margin-top: 20px;
	margin-left: 70px; 
}

#konten2{
	margin-top: 30px;
	margin-left: 165px;
}

#konten2 img{
	width: 26%;
}

#konten2 h2{
	margin-top: 20px;
	margin-left: 45px; 
}

#konten3{
	margin-top: 35px;
}

#konten3 img{
	width: 80%;
}

#konten3 h2{
	margin-top: 20px;
	 
}

.footer{
	position: fixed;
	width: 100%;
	height: 20px;
	bottom:0px;
	left: 0px;
	background-color: visibility: hidden;	
	text-align: right;
	color: #555555;
}